body {
    margin: 0;
    font-family: 'poppins', sans-serif;
}
h1 {
    font-size: 50px;
    font-family: 'Pixelify Sans';
}
section {
    height: 500px;
}
.main-top-section {
    background-image: url("all-img/top-banner\ \(1\).png");
    background-repeat: no-repeat;
}
.name-rone {
    font-family: 'poppins', sans-serif;
    color: orange;
}

.left-div p {
    text-align: justify;
}
.left-div {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.left-div img {
    width: 100%;
}
.left-div button {
    height: 40px;
    width: 130px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border: none;
    border-radius: 5px;
}
.left-div button a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* second-section */

.second-div img {
    width: 100%;
}

.second-div p {
    text-align: justify;
}
.second-div>h1 {
    font-family: 'poppins', sans-serif;
}
.second-div {
    width: 38%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.second-div a {
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.main-second-section {
    margin-top: 80px;
    background-image: url(all-img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* numbber of section three */
.three-section {
    background-image: url(all-img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.three-section>h1 {
    margin-left: 38%;
    font-family: 'poppins', sans-serif;
}
.three-div {
    width: 40%;
    height: 400px;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    border-left: 7px solid orangered;
    box-shadow: 5px 7px 40px gray;
    background-color: white;
}
.three-div h1 {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
}
.three-div h2 {
    color: orange;
}
.three-div2 {
    width: 40%;
    height: 400px;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    border-left: 7px solid;
    border-image: linear-gradient(blue 100%, cyan 100%);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px gray;
}
.three-div2 h1 {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
}
.three-div2 h2 {
    color: orange;
}

        /* footer */
footer {
    margin-top: 100px;
}
footer p {
    text-align: center;
    color: #696969;
}
