body {
    margin: 0;
    font-family: 'poppins', sans-serif;
}
h1 {
    font-size: 50px;
    font-family: 'Pixelify Sans';
}
section {
    height: 500px;
}
.main-top-section {
    background-image: url("all-img/top-banner\ \(1\).png");
    background-repeat: no-repeat;
}
.name-rone {
    font-family: 'poppins', sans-serif;
    color: orange;
}

.left-div {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.left-div img {
    width: 100%;
}
.left-div button {
    height: 40px;
    width: 130px;
    background-color: rgb(255, 112, 82);
    border: none;
    border-radius: 5px;
}
.left-div button a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.left-div button:hover {
    background-color: darkblue;
    color: rgb(0, 0, 0);
    border: 1px solid green;
}
.left-div button a:hover {
    color: black;
}